<!-- Footer Start -->
<div class="container-fluid bg-footer bg-primary text-white mt-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-8 col-md-6">
                <div class="row gx-5">
                    <div class="col-lg-4 col-md-12 pt-5 mb-5">
                        <h4 class="text-white mb-4">{{"Contact"|translate}}</h4>
                        <div class="d-flex mb-2">
                            <i class="bi bi-geo-alt text-white me-2"></i>
                            <p class="text-white mb-0">{{"ads"|translate}}</p>
                        </div>
                        <div class="d-flex mb-2">
                            <i class="bi bi-envelope-open text-white me-2"></i>
                            <p class="text-white mb-0"> dgle.odesypano@email.ati.tn</p>
                        </div>
                        <div class="d-flex mb-2">
                            <i class="bi bi-telephone text-white me-2"></i>
                            <p class="text-white mb-0"> +216 78 450 500</p><p class="text-white mb-0">fax: 78 45 47 18</p>
                        </div>
                        <div class="d-flex mt-4">
                            <a class="btn btn-secondary btn-square rounded-circle me-2" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-secondary btn-square rounded-circle me-2" href="https://www.facebook.com/profile.php?id=100009250584993"><i class="fab fa-facebook-f"></i></a>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                        <h4 class="text-white mb-4">{{"Pages"|translate}}</h4>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" routerLink="/home"><i class="bi bi-arrow-right text-white me-2"></i>{{"ACCUEIL"|translate}}</a>
                            <a class="text-white mb-2" routerLink="/domaine"><i class="bi bi-arrow-right text-white me-2"></i>{{"Domaines d'activités"|translate}}</a>
                            <a class="text-white mb-2" routerLink="/Approche"><i class="bi bi-arrow-right text-white me-2"></i>{{"Approches de développement"|translate}}</a>
                            <!-- <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>Meet The Team</a> -->
                            <a class="text-white mb-2" routerLink="/outile"><i class="bi bi-arrow-right text-white me-2"></i>{{"Outils de Gestion"|translate}}</a>
                            <a class="text-white" routerLink="/contact"><i class="bi bi-arrow-right text-white me-2"></i>{{"Contact"|translate}} </a>
                            <a class="text-white" routerLink="/about"><i class="bi bi-arrow-right text-white me-2"></i>{{"Partenariat"|translate}} </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                        <h4 class="text-white mb-4">Notre liens</h4>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" routerLink="/home"><i class="bi bi-arrow-right text-white me-2"></i>{{"ACCUEIL"|translate}}</a>
                            <a class="text-white mb-2" routerLink="/detaitC"><i class="bi bi-arrow-right text-white me-2"></i>{{"Creation"| translate}}</a>
                            <a class="text-white mb-2" routerLink="/historique"><i class="bi bi-arrow-right text-white me-2"></i>{{"Historique"|translate}}</a>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-n5">
                <div class="d-flex flex-column align-items-center justify-content-center text-center h-100 bg-secondary p-5">
                    <h4 class="text-white">votre avis</h4>
                    <h6 class="text-white">quelques mots pour notre equipes </h6>
                    
                    <form action="">
                        <div class="input-group">
                            <!-- <input type="text-area" class="form-control border-white p-3" placeholder="Your Email"> -->
                            <textarea class="form-control border-white p-3" placeholder="..."></textarea>
                            <button class="btn btn-primary">envoyer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-white py-4">
    <div class="container text-center">
        <p class="mb-0">&copy; <a class="text-secondary fw-bold" href="#">Odesypano</a>. All Rights Reserved. Designed by <a class="text-secondary fw-bold" href="#">mattoussi salim</a></p>
    </div>
</div>
<!-- Footer End -->


