
   
<h1 mat-dialog-title>{{"text1"|translate}}</h1>
<div mat-dialog-content>{{"obj1"|translate}}</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close class="btn btn-primary">{{"fermer"|translate}}</button>
</div>







    <!-- Domaine 1 : Le renforcement institutionnel et assistance technique à la préparation et exécution des PDC: -->

    <!-- <p>L’objectif de cette composante est de renforcer la capacité institutionnelle et organisationnelle de tous les principaux partenaires de développement concernés par l’exécution du projet et d'améliorer leurs outils méthodologiques et leurs pratiques opérationnelles. Les partenaires comprennent notamment les organisations communautaires locales de base (CD et GDAP), l’agence d’exécution du projet (ODESYPANO) et ses partenaires (organisations gouvernementales et non gouvernementales). Plus spécifiquement, la composante appuiera le renforcement des capacités et l’assistance technique visant ces entités afin d’accroître leur participation et d'améliorer l’efficacité de la planification, la préparation, l'exécution et le S&E des PDC et des Contrats programmes annuels (CPA) et la promotion de l'adoption de l’API dans les processus de développement local

        Ce domaine couvre l’organisation d'ateliers de formation, la fourniture d’équipements/matériels; de journées d’information/formation sur le terrain et de visites d’échanges entre communautés et la mise en œuvre d’un plan de sauvegardes environnementales et sociales…..</p> -->