<section class="page-contain">

    
    <a class="data-card">
      <h3>1</h3>
      <h4>{{"domaine1"|translate}}</h4>
      <p>{{"text1"|translate}}</p>

      <button mat-button (click)="openDialog1()">
        {{"Détails"|translate}}
         
      </button>
      
    </a>

   




    <a class="data-card">
      <h3>2</h3>
      <h4>{{"domaine2"|translate}}</h4>
      <p>{{"text2"| translate}}</p>

      <button mat-button (click)="openDialog2()">
        {{"Détails"|translate}}
         
      </button>
      
    </a>
    <a class="data-card">
        <h3>3</h3>
        <h4>{{"domaine3"|translate}}</h4>
        <p> {{"text3"| translate}}</p>
        <button mat-button (click)="openDialog3()">
          {{"Détails"| translate}}
           
        </button>
      </a>



      <a  class="data-card">
        <h3>4</h3>
        <h4>{{"domaine4"|translate}}</h4>
        <p>{{"text4"|translate}}</p>
        <button mat-button (click)="openDialog4()">
          {{"Détails"|translate}}
           
        </button>
      </a>
  </section>




