<!-- Topbar Start -->
<div class="container-fluid px-5 d-none d-lg-block">
    <div class="row gx-5 py-3 align-items-center">
        <div class="col-lg-3">
            <div class="d-flex align-items-center justify-content-start">
                <i class="bi bi-phone-vibrate fs-1 text-primary me-2"></i>
                <h2 class="mb-0">+216 78 450 500</h2>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="d-flex align-items-center justify-content-center">
                <a href="index.html" class="navbar-brand ms-lg-5">
                    <h1 class="m-0 display-4 text-primary"><span class="text-secondary">Odesy</span>pano</h1>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="d-flex align-items-center justify-content-end">
                <a class="btn btn-primary btn-square rounded-circle me-2" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-primary btn-square rounded-circle me-2" href="https://www.facebook.com/profile.php?id=100009250584993"><i class="fab fa-facebook-f"></i></a>
                <!-- <a class="btn btn-primary btn-square rounded-circle me-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-primary btn-square rounded-circle" href="#"><i class="fab fa-instagram"></i></a> -->
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-primary navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-5">
    <a href="index.html" class="navbar-brand d-flex d-lg-none">
        <h1 class="m-0 display-4 text-secondary"><span class="text-white">Odesy</span>pano</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto py-0">
            <a routerLink="/home" class="nav-item nav-link ">{{"ACCUEIL"| translate}}</a>
            <!-- <a routerLink="/about" class="nav-item nav-link">About</a> -->
            <a routerLink="/domaine" class="nav-item nav-link">{{"Domaines d'activités"| translate}}</a>
            <a routerLink="/Approche" class="nav-item nav-link">{{"Approches de développement"| translate}}</a>
          
                <a routerLink="/outile" class="nav-item nav-link " > {{"Outils de Gestion"|translate}}</a>
                <!-- <div class="dropdown-menu m-0">
                    <a href="#" class="dropdown-item">Blog Grid</a>
                    <a href="#" class="dropdown-item">Blog Detail</a>
                    <a href="#" class="dropdown-item">Features</a>
                    <a href="#" class="dropdown-item">The Team</a>
                    <a href="#" class="dropdown-item">Testimonial</a>
                </div> -->
            
            <a routerLink="/contact" class="nav-item nav-link">{{"Contact"|translate}}</a>
            <a routerLink="/about" class="nav-item nav-link">{{"Partenariat"|translate}}</a>
            
            <a (click)="changeCurrentLang('AR')" class="nav-item nav-link ">AR</a>
            <a (click)="changeCurrentLang('FR')" class="nav-item nav-link">FR</a>
        </div>
    </div>
</nav>
<!-- Navbar End -->