<div class="container-fluid about pt-5">
<div class="container">
    <div class="col-md-12">
        <h5>{{"gest1"|translate}}</h5>
    </div>
    <br>
    <div class="container px-4">
        <div class="row gx-5">
          <div class="col">
           <h4> {{"gest2"|translate}} </h4>
           <h6  class="text-justify">{{"gest3"|translate}}</h6>
          <ul>
            <h4>{{"gest4"|translate}}</h4>
            <li><h6>{{"gest5"|translate}}</h6></li>
            <li> <h6> {{"gest6"|translate}}</h6></li>
          </ul>
            <h6>{{"gest7"|translate}}</h6>
        </div>


          <div class="col">
            <h4>{{"gest8"|translate}}</h4><br>
            <h6>{{"gest9"|translate}}</h6>
             <br><br>  
             <ul>
                    <h4>{{"gest10"|translate}}</h4>
                    <li> <h6> {{"gest11"|translate}}</h6></li>
                    <li> <h6>{{"gest12"|translate}}</h6></li>
                    <li> <h6>{{"gest13"|translate}}</h6></li>
                    <li> <h6>{{"gest14"|translate}}</h6></li>
                </ul>
            </div>
        </div>
      </div>
</div>
</div>