
    <!-- Blog Start -->
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-8">
                <!-- Blog Detail Start -->
                <div class="mb-5">
                   
                    <h1 class="mb-4">{{"Creation"|translate}}</h1>
                    <h6>{{"crea1"|translate}}</h6>
                </div>
                <!-- Blog Detail End -->


                <!-- Recent Post Start -->
                <div class="mb-5">
                    <h2 class="mb-4">Recent Post</h2>
                    <div class="bg-primary p-4">
                        <div class="d-flex overflow-hidden mb-3">
                            <img class="img-fluid flex-shrink-0" src="assets/img/oliv1.jpg" style="width: 75px;" alt="">
                            <a href="" class="d-flex align-items-center bg-white text-dark fs-5 fw-bold px-3 mb-0">{{"P1" | translate}}
                            </a>
                        </div>
                        <div class="d-flex overflow-hidden mb-3">
                            <img class="img-fluid flex-shrink-0" src="assets/img/oliv2.jpg" style="width: 75px;" alt="">
                            <a href="" class="d-flex align-items-center bg-white text-dark fs-5 fw-bold px-3 mb-0">{{"P2" | translate}}
                            </a>
                        </div>
                        <div class="d-flex overflow-hidden mb-3">
                            <img class="img-fluid flex-shrink-0" src="assets/img/oliv3.jpg" style="width: 75px;" alt="">
                            <a href="" class="d-flex align-items-center bg-white text-dark fs-5 fw-bold px-3 mb-0">{{"P3" | translate}}
                            </a>
                        </div>
                        <div class="d-flex overflow-hidden mb-3">
                            <img class="img-fluid flex-shrink-0" src="assets/img/oliv4.jpg" style="width: 75px;" alt="">
                            <a href="" class="d-flex align-items-center bg-white text-dark fs-5 fw-bold px-3 mb-0">{{"P4" | translate}}
                            </a>
                        </div><br>
                        <div class="d-flex overflow-hidden">
                            <img class="img-fluid flex-shrink-0" src="assets/img/oliv5.jpg" style="width: 75px;" alt="">
                            <a href="" class="d-flex align-items-center bg-white text-dark fs-5 fw-bold px-3 mb-0">{{"P5" | translate}}
                            </a>
                        </div><br>
                        <div class="d-flex overflow-hidden">
                            <img class="img-fluid flex-shrink-0" src="assets/img/oliv6.jpg" style="width: 75px;" alt="">
                            <a href="" class="d-flex align-items-center bg-white text-dark fs-5 fw-bold px-3 mb-0"> {{"P6" | translate}}
                            </a>
                        </div><br>
                        <div class="d-flex overflow-hidden">
                            <img class="img-fluid flex-shrink-0" src="assets/img/oliv7.jpg" style="width: 75px;" alt="">
                            <a href="" class="d-flex align-items-center bg-white text-dark fs-5 fw-bold px-3 mb-0">{{"P7" | translate}}
                            </a>
                        </div><br>
                        <div class="d-flex overflow-hidden">
                            <img class="img-fluid flex-shrink-0" src="assets/img/oliv8.jpg" style="width: 75px;" alt="">
                            <a href="" class="d-flex align-items-center bg-white text-dark fs-5 fw-bold px-3 mb-0">{{"P8" | translate}}
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Recent Post End -->

            </div>
            <!-- Sidebar End -->
        </div>
    </div>
    <!-- Blog End -->